[Model]
// initial speed of laser beam
LaserBeamSpeed=300
[Display]
log=true
// time for test ProjetUnivers::Display::Test::TestHUD::targetedIndicatorIndicatesEnemyTargetting
Test.Targeted.Duration=0.1
// time for test ProjetUnivers::Display::Test::TestHUD::displayShipData
Test.ShipData.Duration=0.1
