[Input]

// mapping between joystick axis number and in-game axis
// here configuration for sidewinder forcefeedback 2
XAxis=0
YAxis=1
ZAxis=5
ThrottelAxis=6

[Model]

// ship guidance system property
GuidanceForce=5

// stabilizers properties
StabilizerForce=10

// engine property (try to keep value around 1)
EngineMaxForce=500

// dragger property (the dragger generate a force against linear movement)
DraggerCoeeficient=0.01

// initial speed of laser beam
LaserBeamSpeed=300

log=false

[Physic]

// Some physic parameters. Handle with care
WorldCFM=0.001
WorldERP=1

ActivateCollision=true

WorldContactSurfaceLayer=0.1
WorldContactMaxCorrectingVelocity=5
MaxNumberOfContactPoints=100

// contact parameters
ContactMu=0
ContactBounce=0
ContactBounceVelocity=0
ContactSofERP=1
ContactSofCFM=1
[AI]
log=true
[Agent]
log=true
