[Model]
log=false
// ship guidance system property
GuidanceForce=5

// stabilizers properties
StabilizerForce=10

// engine property (try to keep value around 1)
EngineMaxForce=500

// dragger property (the dragger generate a force against linear movement)
DraggerCoeeficient=0.01

ShipMass=1

// initial speed of laser beam
LaserBeamSpeed=300

[Kernel]
log=false

[Display]
log=false
// name of the Ogre material to use for target selection
ReticuleMaterial="PU/material/reticule"
// name of the Ogre material to use for target indication out of screen
ArrowMaterial="PU/material/arrow"
ArrowSize=0.1
[Input]
log=true
MouseSensibility=1

