// Display the target speed of screen. 
// Do not change the names because they are used in code.
PU/base/HUD/TargetSpeed
{
  zorder 200

  container Panel(TargetSpeed)
  {
    // adjust this position to change text position
    // positions are aligned on center of the screen
    // positions may range between -0.5 and +0.5 in relative position
    // 0, 0 center
    left 0
    top -0.45
    
    element TextArea(TargetSpeed/Speed)
    {
      vert_align center
      horz_align center
      metrics_mode pixels
      font_name BlueHighway
      char_height 16
      caption "Name"
    }
  }

}
