[Demonstration]
log=false

// model loaded at startup
loadedModel="TestPilot"
//loadedModel="TestDemonstration"
//loadedModel="TestMenu"

[Input]
// wheither we should print the axis values when moved
PrintAxes=false
// wheither we should print the button number value when pressed
PrintButtons=false

// mapping between joystick axis number and in-game axis
// negative value indicates inverted axis
// here configuration for sidewinder forcefeedback 2 on linux
XAxis=0
YAxis=-1
ZAxis=-5
ThrottelAxis=-6
log=false

[Model]
log=false


// ship agility, try to keep 
GuidanceForce=3
StabilizerForce=5

// engine property (try to keep value around 1)
EngineMaxForce=650

// dragger property (the dragger generate a force against linear movement)
DraggerCoeeficient=0.005

ShipMass=1

// initial speed of laser beam
LaserBeamSpeed=600


[Physic]

// Some physic parameters. Handle with care
WorldCFM=0.001
WorldERP=1

ActivateCollision=true

// some kind of ...
WorldContactSurfaceLayer=0.01
WorldContactMaxCorrectingVelocity=0.1
MaxNumberOfContactPoints=5

// contact parameters
ContactMu=0
ContactBounce=1
ContactBounceVelocity=0
ContactSofERP=1
ContactSofCFM=1

log=false

[Display]
log=false

// name of the Ogre material to use for target selection
ReticuleMaterial="PU/material/reticule"
// name of the Ogre material to use for target indication out of screen
ArrowMaterial="PU/material/arrow"
ArrowSize=0.1

IdealTargetMaterial="PU/material/ideal_target"
TargetMaterial="PU/material/target"

[Kernel]
log=false
[AI]
log=false
[Agent]
log=false


