[Kernel]
debug=true

[FPS]
log=true

[Statistics]
log=false

[Demonstration]
log=true

// model loaded at startup
//loadedModel="TestPilot"
loadedModel="TestIA"
//loadedModel="TestMenu"
//loadedModel="TestDemonstration"

[Sound]
// Name of the device use for the sound, can be basically "Generic Software"/"Generic Hardware"
SoundDevice="Generic Software"

// Indicate the time in second between two manager's update, and fix the buffer's size 
UpdateTime=1

// Choose the type of attenuation model
// "NONE", "INVERSE_DISTANCE", "INVERSE_DISTANCE_CLAMPED", "LINEAR_DISTANCE", "LINEAR_DISTANCE_CLAMPED",
// "EXPONENT_DISTANCE", "EXPONENT_DISTANCE_CLAMPED"
AttenuationModel="INVERSE_DISTANCE_CLAMPED"
[Input]
MouseSensibility=0.5
log=true