[Demonstration]
log=false

// model loaded at startup
loadedModel="TestPilot"
//loadedModel="TestDemonstration"
//loadedModel="TestMenu"

[Input]
log=false

// wheither we should print the axis values when moved
PrintAxes=false
// wheither we should print the button number value when pressed
PrintButtons=false

// mapping between joystick axis number and in-game axis
// negative value indicates inverted axis
// here configuration for joystick on linux
XAxis=0
YAxis=-1
ZAxis=-2
ThrottelAxis=-3
MouseSensibility=0.1

// dead zone in percentage for joystick/mouse 
DeadZone=5

[Model]
log=false


// ship agility, try to keep 
GuidanceForce=3
StabilizerForce=5

// engine property (try to keep value around 1)
EngineMaxForce=650

// dragger property (the dragger generate a force against linear movement)
DraggerCoeeficient=0.005

ShipMass=1

// initial speed of laser beam
LaserBeamSpeed=600


[Physic]
log=false

// Some physic parameters. Handle with care
WorldCFM=0.001
WorldERP=1

ActivateCollision=true

// some kind of ...
WorldContactSurfaceLayer=0.01
WorldContactMaxCorrectingVelocity=0.1
MaxNumberOfContactPoints=5

// contact parameters
ContactMu=0
ContactBounce=1
ContactBounceVelocity=0
ContactSofERP=1
ContactSofCFM=1

[Display]
log=false

// name of the Ogre material to use for target selection
ReticuleMaterial="PU/material/reticule"
// name of the Ogre material to use for target indication out of screen
ArrowMaterial="PU/material/arrow"
ArrowSize=0.1

IdealTargetMaterial="PU/material/ideal_target"
TargetMaterial="PU/material/target"

[Kernel]
log=false

[AI]
log=false

[Agent]
log=false

[Sound]
log=false

// Name of the device use for the sound, can be basically "Generic Software"/"Generic Hardware"
SoundDevice="Generic Software"

// Indicate the time in second between two manager's update, and fix the buffer's size 
UpdateTime=1

// Choose the type of attenuation model
// "NONE", "INVERSE_DISTANCE", "INVERSE_DISTANCE_CLAMPED", "LINEAR_DISTANCE", "LINEAR_DISTANCE_CLAMPED",
// "EXPONENT_DISTANCE", "EXPONENT_DISTANCE_CLAMPED"

AttenuationModel="INVERSE_DISTANCE_CLAMPED"

[MainLoop]
log=false

[PlayerConfiguration]
log=false
